doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title DEGREE°
        link(rel="stylesheet", href="styles/all.min.css")
        link(rel="stylesheet", href="styles/style.css")
    body 
        //-====== NAV SECTION =======
        nav 
            .nav-contact(class='main-bg white-color py-2') 
                .container(class='flex-between') 
                    .contact-info(class='just-flex') 
                        div(class='just-flex') 
                            i(class="fa-solid fa-phone")
                            p(class='mx-1') Need Support? 888-8X881-8X0
                        div(class='just-flex mx-3') 
                            i(class="fa-solid fa-envelope")
                            p(class='mx-1') info@degree.com
                    .nav-register(class='just-flex')
                        div(class='just-flex mx-3') 
                            i(class="fa-solid fa-right-to-bracket")
                            p(class='mx-1') Login 
                        div(class='just-flex') 
                            i(class="fa-solid fa-user")
                            p(class='mx-1') Register
            .navbar-content(class='py-3') 
                .container(class='flex-between')
                    .nav-logo 
                        h1 
                            a DEGREE°
                    .nav-list 
                        ul(class='font-color') 
                            each val in ['HOME', 'PROPERTIES','AGENTS','TESTIMONIALS','CONTACT']
                                li(class='mx-2')
                                    a=val  
                    .nav-button 
                        button(class='button-style-outline') Submit Property
        //-====== HEADER SECTION =======
        header
            .overlay(class='flex-center') 
                .container(class='flex-center') 
                    .header-content
                        .header-text(class='white-color')
                            h2 BEST PLACE TO FIND HOME
                            p(class='my-5') Allow us to guide you through the innovative stress free approach in #[br] finding your dream Properties.
                        .header-buttons
                            button(class='button-style-solid') Get Started Now
                            button(class='button-style-outline') Learn More
        //-====== PROPERTIES SECTION =======
        - var property = [{desc:'Big Head House', image:'images/property-1.jpg'},{desc:'Masons Villa', image:'images/property-2.jpg'},{desc:'Beautiful Single Home', image:'images/property-3.jpg'},{desc:'Park Avenue', image:'images/property-4.jpg'},{desc:'Luxury House', image:'images/property-5.jpg'},{desc:'Big Head House', image:'images/property-6.jpg'}]
        section(class='properties section-padding')
            .container 
                .properties-title 
                    h3(class='title') PROPERTIES
                    .title-shape
                        .shape1 
                        .shape2
                .properties-content
                    each val in property
                        .property-item(class='card-shadow')
                            .property-img 
                                img(src=val.image)
                                .property-img-details(class='white-color flex-around py-2')
                                    div(class='just-flex') 
                                        i(class="fa-solid fa-bezier-curve mx-1")
                                        p 4300 sq ft 
                                    div(class='just-flex') 
                                        i(class="fa-solid fa-bed mx-1")
                                        p 4 Beds 
                                    div(class='just-flex') 
                                        i(class="fa-solid fa-sink mx-1")
                                        p 2 Baths 
                            .property-info 
                                .property-desc
                                    h4=val.desc
                                    p(class='font-color') 
                                        i(class="fa-solid fa-location-dot my-2")
                                        |123 Kontar St. Texas
                                .property-footer(class='flex-between') 
                                    p(class='main-color mx-3') $1250
                                    .footer-icons 
                                        i(class="fa-regular fa-heart font-color")
                                        i(class="fa-solid fa-share-nodes font-color")
                .properties-choice(class=' section-padding')
                    .p-c-title(class='text-center') 
                        h3 WHAT ARE YOU LOOKING FOR?
                        P(class='font-color my-3') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, facilis.
                    - var choices = [{name:'Apartments',icon:'fa-solid fa-hotel fa-3x main-color'},{name:'Houses',icon:'fa-solid fa-house fa-3x main-color'},{name:'Garages',icon:'fa-solid fa-warehouse fa-3x main-color'},{name:'Commercial',icon:'fa-solid fa-coins fa-3x main-color'},]
                    .p-c-content(class='just-flex my-5') 
                        .p-c-img
                            img(src='images/choice.jpg')
                        .p-c-items
                            each val in choices
                                .item(class='just-flex card-shadow') 
                                    .icon 
                                        i(class=val.icon)
                                    .text 
                                        h4=val.name 
                                        p(class='font-color my-1') Lorem ipsum dolor sit amet consectetur adipisicing elit. #[br] Numquam a placeat magnam ullam!
        //- ======== AGENTS SECTION ========
        -var agents = [{image:'images/agent-1.jpg', name:'Maria Blank', title:'Office Manager'},{image:'images/agent-2.jpg', name:'Karen Baran', title:'Support Manager'},{image:'images/agent-3.jpg', name:'Martin Smith', title:'Web Developer'},{image:'images/agent-4.jpg', name:'John Max', title:'Creative Director'}]
        section(class='agents section-padding')
            .container
                .agents-title 
                    h3(class='title') AGENTS
                    .title-shape
                        .shape1 
                        .shape2
                .agents-content(class='flex-around')
                    each val in agents 
                        .agent-item(class='card-shadow') 
                            .agent-img(class='w-100') 
                                img(src=val.image class='w-100')
                            .agent-info(class='text-center py-3') 
                                h5=val.name 
                                p(class='font-color my-3')=val.title
                                .social(class='flex-center') 
                                    i(class="fa-brands fa-facebook font-color mx-2")
                                    i(class="fa-brands fa-twitter font-color mx-2")
                                    i(class="fa-brands fa-linkedin font-color mx-2")
                                    i(class="fa-brands fa-github font-color mx-2")
            -var counter = [{ic:'fa-solid fa-user fa-2x', count:'452',title:'Our Agents'},{ic:'fa-solid fa-clipboard-check fa-2x', count:'1204',title:'Listings For Sale'},{ic:'fa-solid fa-money-check fa-2x', count:'852',title:'Listings For Rent'},{ic:'fa-solid fa-chalkboard-user fa-2x', count:'371',title:'Computer Borkers'}]
            .agents-counter
                .overlay
                    .container(class='flex-around')
                        each val in counter
                            .counter-item(class='just-flex') 
                                .icon(class='mx-5 main-color flex-center') 
                                    i(class=val.ic)
                                .info(class='white-color') 
                                    p=val.count 
                                    span=val.title
        - var testi = [{image:'images/t-1.jpg',name:'Karen Paran'},{image:'images/t-2.jpg',name:'Eline Perei'},{image:'images/t-3.jpg',name:'John Pitar'}]
        section(class='testimonials')
            .overlay(class='section-padding') 
                .container 
                    .t-title 
                        h3(class='title white-color') TESTIMONIALS
                        .title-shape
                            .shape1 
                            .shape2
                    .t-content(class='just-flex')
                        each val in testi 
                            .t-item(class='text-center') 
                                .t-img 
                                    img(src=val.image)
                                .t-info 
                                    h5=val.name 
                                    .rate(class='py-3') 
                                        - for (x=0; x < 5; x++)
                                            i(class='fa-solid fa-star rate-color')
                                    p(class='font-color') Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla adipisci, quis magni alias tempora est veritatis, quasi, libero expedita vel deleniti ipsam? Debitis, quidem nisi.
        //-========= contact section ========
        section(class='contact section-padding'  id='Contact')
            .container 
                .contact-title 
                        h3(class='title') CONTACT
                        .title-shape
                            .shape1 
                            .shape2
                div(class="contact-content")
                    .input
                        input(type="text" placeholder="Name" data-aos='fade-left')
                    .input
                        input(type="email" placeholder="Email" data-aos='fade-up')
                    .text-area
                        textarea( name="" id="" cols="30" rows="10" data-aos='fade-down') Message
                    .contact-button
                        button.button-style-solid(data-aos='fade-down') Send Message
            </div>
        </div>
        //- ======== footer section =======
        footer(class='footer section-padding')
            .container 
                .footer-content
                    .footer-social(data-aos='fade-up')
                        img(src='images/logo.svg')
                        .social 
                            a(href="")
                                i(class="fa-brands fa-facebook")
                            a(href="")
                                i(class="fa-brands fa-twitter")
                            a(href="")
                                i(class="fa-brands fa-pinterest")
                            a(href="")
                                i(class="fa-brands fa-instagram")
                    .footer-list(data-aos='fade-down') 
                        ul 
                            each val in ['About us', 'Contact','Blog']
                                li.pointer=val
                        ul 
                            each val in ['Careers', 'Support','Privacy Policy']
                                li.pointer=val
                    .footer-copyright(data-aos='fade-left')
                        .footer-button 
                            button(class='pointer button-style-outline') Request Invite 
                        .footer-copyright-text 
                            p © Easybank. All Rights Reserved

        script(src="https://unpkg.com/aos@next/dist/aos.js")
        script(src='js/script.js')

